In [59]:
url='https://www.bbc.com/sport/football/premier-league/top-scorers#TopScorers'

In [113]:
players_names=[]
Serial_number=[]
team_names=[]
gola_scored=[]
Assists=[]
Total_Match_played=[]
Total_shots=[]
Gola_conversion_rates=[]
shot_Accuracys=[]

In [117]:
from bs4 import BeautifulSoup
import requests
try:
    response=requests.get(url)
    response.raise_for_status()
except Exception as e:

    print(e)

else:
    status_code=response.status_code
    soup=BeautifulSoup(response.content,'html.parser')
    players=soup.find('tbody').find_all('tr',class_='ssrcss-qqhdqi-TableRowBody e1icz100')
    for player in players:
        S_no=player.find('div',class_= 'ssrcss-wjp01q-RankAndBadgeWrapper e1n6h4mf2').get_text(strip=True)
        player_name=player.find('div',class_='ssrcss-m6ah29-PlayerName e1n8xy5b1').get_text(strip=True)
        team_name=player.find('div',class_='ssrcss-qvpga1-TeamsSummary e1n8xy5b0').get_text(strip=True)
        gola=int(player.find('td','ssrcss-126tggj-StyledTableData ef9ipf1').get_text(strip=True))
        Recode=player.find_all('div',class_='ssrcss-1vo7v3r-CellWrapper ef9ipf0')
        assist=int(Recode[1].get_text(strip=True))
        match_played=int(Recode[2].get_text(strip=True))
        Total_shot=int(Recode[-3].get_text(strip=True))
        Gola_conversion_rate=Recode[-2].get_text(strip=True)
        Shot_Accuracy=Recode[-1].get_text(strip=True)

        
        players_names.append(player_name)
        Serial_number.append(S_no)
        team_names.append(team_name)
        gola_scored.append(gola)
        Assists.append(assist)
        Total_Match_played.append(match_played)
        Total_shots.append(Total_shot) 
        Gola_conversion_rates.append(Gola_conversion_rate)
        shot_Accuracys.append(Shot_Accuracy)

In [118]:
data={
    'Serial Number':Serial_number,
    'Player Name':players_names,
    'Team Name':team_names,
    'Gola Scored':gola_scored,
    'Assists':Assists,
    'Total Match Played':Total_Match_played,
    'Total Shots':Total_shots,
    'Gola Conversion Rate':Gola_conversion_rates,
    'Shot Accuracy':shot_Accuracys
}

In [122]:
import pandas as pd
df=pd.DataFrame(data)

In [123]:
df

,Serial Number,Player Name,Team Name,Gola Scored,Assists,Total Match Played,Total Shots,Gola Conversion Rate,Shot Accuracy
0,18,V. Gyökeres,Arsenal,4,0,14,21,19%,38%
1,1,E. Haaland,Man City,17,3,16,59,29%,58%
2,2,Igor Thiago,Brentford,11,0,16,35,31%,57%
3,3,P. Foden,Man City,7,2,14,32,22%,34%
4,3,H. Ekitiké,Liverpool,7,1,15,30,23%,30%
5,3,D. Welbeck,Brighton,7,0,16,25,28%,44%
6,3,J. Mateta,Crystal Palace,7,0,16,44,16%,52%
7,7,A. Semenyo,Bournemouth,6,3,14,34,18%,56%
8,7,Richarlison,Spurs,6,2,16,25,24%,36%
9,7,B. Mbeumo,Man Utd,6,1,15,38,16%,58%
10,10,H. Wilson,Fulham,5,3,15,29,17%,34%
11,10,Pedro Neto,Chelsea,5,3,16,26,19%,38%
12,10,M. Rogers,Aston Villa,5,3,16,24,21%,50%
13,10,Bruno Guimarães,Newcastle,5,2,15,23,22%,43%
14,10,N. Woltemade,Newcastle,5,1,13,23,22%,39%
15,10,J. Bowen,West Ham,5,1,16,41,12%,41%
16,10,Z. Flemming,Burnley,5,0,13,18,28%,50%
17,10,D. Calvert-Lewin,Leeds,5,0,14,30,17%,43%
18,18,Bruno Fernandes,Man Utd,4,6,15,42,10%,29%
19,18,L. Trossard,Arsenal,4,3,12,20,20%,40%
20,18,C. Gakpo,Liverpool,4,3,15,36,11%,19%
21,18,Mohamed Salah,Liverpool,4,3,14,35,11%,31%
22,18,João Pedro,Chelsea,4,3,16,24,17%,46%
23,18,E. Buendía,Aston Villa,4,2,14,19,21%,21%
24,18,E. Eze,Arsenal,4,2,15,31,13%,39%
25,18,K. Dewsbury-Hall,Everton,4,2,15,17,24%,29%
26,18,I. Ndiaye,Everton,4,2,16,20,20%,60%
27,18,D. Malen,Aston Villa,4,1,16,24,17%,33%
28,18,C. Wilson,West Ham,4,1,13,15,27%,60%
29,18,J. Anthony,Burnley,4,1,16,17,24%,53%
30,18,B. Saka,Arsenal,4,1,14,30,13%,50%
31,18,E. Fernández,Chelsea,4,1,15,32,13%,47%
32,18,J. Kroupi,Bournemouth,4,0,11,14,29%,57%
33,18,L. Nmecha,Leeds,4,0,14,14,29%,57%
34,18,W. Isidor,Sunderland,4,0,16,30,13%,37%
35,18,V. Gyökeres,Arsenal,4,0,14,21,19%,38%

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Serial Number         36 non-null     object
 1   Player Name           36 non-null     object
 2   Team Name             36 non-null     object
 3   Gola Scored           36 non-null     int64
 4   Assists               36 non-null     int64
 5   Total Match Played    36 non-null     int64
 6   Total Shots           36 non-null     int64
 7   Gola Conversion Rate  36 non-null     object
 8   Shot Accuracy         36 non-null     object
dtypes: int64(4), object(5)
memory usage: 2.7+ KB

In [126]:
df.describe()

       Gola Scored    Assists  Total Match Played  Total Shots
count    36.000000  36.000000           36.000000    36.000000
mean      5.277778   1.555556           14.750000    27.722222
std       2.479759   1.382429            1.273353     9.658782
min       4.000000   0.000000           11.000000    14.000000
25%       4.000000   0.000000           14.000000    20.750000
50%       4.000000   1.000000           15.000000    25.500000
75%       5.250000   3.000000           16.000000    32.500000
max      17.000000   6.000000           16.000000    59.000000

In [127]:
df.to_csv('Premier_League_Top_Scorers.csv',index=False)